!!! 5
html(lang="en")
	head
		title Manila
		link(rel="stylesheet", type="text/css", href="/client.css")
		script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
		script(type="text/javascript", src="http://localhost:3000/socket.io/socket.io.js")
		script(type="text/javascript", src="/client.js")
	body
		#heading
			h1 Manila
		#h2 My Id:
		#my_id 0
		#h2 Num Players:
		#num_players 0
		#h2 Current Player:
		#current_player 0
		#actions
		| <a id = 'act' href="#">act</a>