!!! 5
html(lang="en")
  head
    title Manila
    link(rel="stylesheet", type="text/css", href="/bootstrap.css")
    link(rel="stylesheet", type="text/css", href="/client.css")
    script(type="text/javascript", src="/jquery-1.4.4.min.js")
    script(type="text/javascript", src="/json2.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/javascripts/export.js")
    script(type="text/javascript", src="/common/GameState.js")
    script(type="text/javascript", src="/javascripts/config.js")
    script(type="text/javascript", src="/javascripts/base.js")
    script(type="text/javascript", src="/javascripts/punt.js")
    script(type="text/javascript", src="/javascripts/space.js")
    script(type="text/javascript", src="/javascripts/share.js")
    script(type="text/javascript", src="/javascripts/MapElement.js")
    script(type="text/javascript", src="/javascripts/MapView.js")
    script(type="text/javascript", src="/javascripts/client.js")
  body
    #heading
      h1 Manila
      a(href="/Manila_CT.pdf") 帮助
      #state
      #phase
      //- #h2 Phase
      //- #phase
      //- #h2 My Id:
      //- #my_id 0
      //- #h2 Num Players:
      //- #num_players 0
      //- #h2 Current Player:
      //- #current_player 0
      //-     
      //- #players
      //- #ships
      //- #spaces
      //- #punts
      //- #actions
      #player
      #current_player
      #role
      #captain
      #auction_price
      #punts
    #control_panel.navbar.navbar-fixed-bottom
      .navbar-inner
        .container
          #palyers_panel
          #action_panel
            #choose_share_panel.hidden
              h2 请选择
              select#choose_share
              a.btn.btn-info.right 确定
            #auction_panel.hidden
              h2 请出价竞选船长
              input#auction_money
              a#auction.btn.btn-info 出价
              a#auction_drop.btn.btn-warning 放弃
            #move_punt_panel.hidden
              form.form-horizontal.left
                .control-group
                  .control-label 第一艘
                  .controls
                    select.choose_punt
                    select.move_punt1
                      option(value="0") 0
                      option(value="1") 1
                      option(value="2") 2
                      option(value="3") 3
                      option(value="4") 4
                      option(value="5", selected="selected" ) 5
                .control-group
                  .control-label 第二艘
                  .controls
                    select.choose_punt
                    select.move_punt2
                      option(value="0") 0
                      option(value="1") 1
                      option(value="2") 2
                      option(value="3") 3
                      option(value="4", selected="selected") 4
                      option(value="5") 5
                .control-group
                  .control-label 第三艘
                  .controls
                    select.choose_punt
                    select.move_punt3
                      option(value="0") 0
                      option(value="1") 1
                      option(value="2") 2
                      option(value="3") 3
                      option(value="4") 4
                      option(value="5") 5
              a.btn.btn-info.right 完成
            #start_panel
              a#start_game.btn.btn-info 开始游戏
script(type='text/javascript')
  $('#action_panel #auction').click(function(){
    auction($('#auction_money').val());
  });
  
  $('#action_panel #auction_drop').click(function(){
    auction_drop();
  });
  
  $('#start_game').click(function(){
    start_game();
  });
  
  $('#move_punt_panel .btn').click(function(){
    if(parseInt($('.move_punt1').val()) + parseInt($('.move_punt2').val()) + parseInt($('.move_punt3').val()) != 9){
      alert('三艘船总和应该为9！');
    }else if($('#move_punt_panel .choose_punt').get(0).selectedIndex == $('#move_punt_panel .choose_punt').get(1).selectedIndex || 
      $('#move_punt_panel .choose_punt').get(0).selectedIndex == $('#move_punt_panel .choose_punt').get(2).selectedIndex ||
      $('#move_punt_panel .choose_punt').get(2).selectedIndex == $('#move_punt_panel .choose_punt').get(1).selectedIndex){
      alert('不能选同一艘船！');
    }else{
      var wares = [$('#move_punt_panel .choose_punt').get(0).selectedIndex, $('#move_punt_panel .choose_punt').get(1).selectedIndex,
        $('#move_punt_panel .choose_punt').get(2).selectedIndex];
      init_punt_position(wares, [parseInt($('.move_punt1').val()), parseInt($('.move_punt2').val()), parseInt($('.move_punt3').val())]);
    }
  });
  
  $('#choose_share_panel .btn').click(function(){
    choose_share($('#choose_share').val());
  });