!!! 5
html(lang="en")
	head
		title Manila
		link(rel="stylesheet", type="text/css", href="/client.css")
		script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
		script(type="text/javascript", src="http://localhost:3000/socket.io/socket.io.js")
		script(type="text/javascript", src="/client.js")
	body
		#heading
			h1 Manila
		#h2 My Id:
		#my_id <pre>	0</pre>
		#h2 Num Players:
		#num_players <pre>	0</pre>
		#h2 Current Player:
		#current_player <pre>	0</pre>
		#actions
		#h2 Auction info
		| <pre><p><a id = 'auction' href="#">auction</a>	<a id = 'confirm' href="#">confirm</a>	<a id = 'drop' href="#">drop</a></p></pre>
		| current_price:
		#current_price <pre>	0</pre>
		| current_captain:
		#current_captain  <pre>	0</pre>
		| end_price:
		#end_price <pre>	0</pre>
		| captain:
		#captain <pre>	0</pre>
		
		| <a id = 'act' href="#">act</a>