!!! 5
html(lang="en")
	head
		title Manila
		link(rel="stylesheet", type="text/css", href="/client.css")
		script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js")
		script(type="text/javascript", src="http://localhost:3000/socket.io/socket.io.js")
		script(type="text/javascript", src="/client.js")
	body
		#heading
			h1 Manila
		#h2 Num Players:
		#client_count 0