body{
	margin:0px;
}

.navbar .btn, .navbar .btn-group {
  margin-top: 0px;
}

#heading{
	position:absolute;
	left:1000px;
	z-index:1000;
}

#map{
	margin:0 auto;
/*  position:relative;*/
	padding-bottom:150px;
/*	width:1000px;
	height:1500px;*/
/*	background:url("images/map_bg.jpg");*/
}

#control_panel > .navbar-inner{
  opacity:0.9;
}

#control_panel > .navbar-inner > .container{
  height:150px;
}

#control_panel #action_panel{
  float:right;
}

canvas{
	position: absolute;
	top:0px;
	left: 0px;
}

.punt-viewer {
	position:absolute;
	left:0;
	top:0;
	z-index: 300;
}

.success {
  -webkit-transform: rotate(10deg) scale(0.5);
  -moz-transform: rotate(10deg) scale(0.5);
  -o-transform: rotate(10deg) scale(0.5);
  transform: rotate(10deg) scale(0.5);
}

.fail {
  -webkit-transform: rotate(25deg) scale(0.5);
  -moz-transform: rotate(25deg) scale(0.5);
  -o-transform: rotate(25deg) scale(0.5);
  transform: rotate(25deg) scale(0.5);
}
