body{
	margin:0px;
}

#heading{
	position:absolute;
	left:1000px;
	z-index:1000;
}

#map{
	margin:0 auto;
	position:relative;
/*	width:1000px;
	height:1500px;*/
/*	background:url("images/map_bg.jpg");*/
}

canvas{
	position: absolute;
	top:0px;
	left: 0px;
}

.punt-viewer {
	position:absolute;
	left:0;
	top:0;
	z-index: 300;
}

.success {
  -webkit-transform: rotate(10deg) scale(0.5);
  -moz-transform: rotate(10deg) scale(0.5);
  -o-transform: rotate(10deg) scale(0.5);
  transform: rotate(10deg) scale(0.5);
}

.fail {
  -webkit-transform: rotate(25deg) scale(0.5);
  -moz-transform: rotate(25deg) scale(0.5);
  -o-transform: rotate(25deg) scale(0.5);
  transform: rotate(25deg) scale(0.5);
}